@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
}

.content {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  width: 100%;
  max-width: 700px;
  text-align: left;
}

h1,
h4 {
  margin: 20px 0 10px;
}

.paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 10px 0;
}

.lazy-img {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.lazy-img.loaded {
  opacity: 1;
}

@media (max-width: 768px) {
  .text-container {
    width: 90%;
  }
}

.title-container {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  text-align: left;
  white-space: nowrap;
}

.scroll-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  animation: floatArrow 1.5s infinite ease-in-out;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.scroll-btn:hover {
  transform: translateX(-50%) scale(1.2);
}

@keyframes floatArrow {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-5px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@media (max-width: 768px) {
  .text-container {
    width: 90%;
    max-width: 100%;
  }
}

.paragraph {
  overflow-wrap: break-word;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 5px auto;
  width: 100%;
  max-width: 700px;
}

.question {
  overflow-wrap: break-word;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 5px auto;
  font-style: italic;
  margin: 5px;
}

.question {
  margin: 5px auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  flex-wrap: wrap;
}

.dropbtn {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 350px;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 9999;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 9999;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 150px;
  width: 350px;
  z-index: 100;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 9999;
  background-color: white;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 10px;
  display: block;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  z-index: 9999;
  background-color: white;
}

image-container {
  width: 90%;
  margin: auto;
}

.dropdown-content a:hover {
  background-color: #ddd;
  z-index: 9999;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 9999;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 0;
  z-index: 0;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 750px;
}

.carousel-image {
  position: absolute;
  width: 60%;
  height: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
  filter: brightness(50%);
  opacity: 0.6;
  transform: scale(0.8);
  z-index: 1;
}

.carousel-image.active {
  filter: brightness(100%);
  opacity: 1;
  transform: scale(1);
  z-index: 3;
}

.carousel-image.prev {
  transform: translateX(-45%) scale(0.9);
  opacity: 0.5;
  z-index: 2;
}

.carousel-image.next {
  transform: translateX(45%) scale(0.9);
  opacity: 0.5;
  z-index: 2;
}
.carousel-image.out {
  display: none;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 12px;
  font-size: 28px;
  cursor: pointer;
  z-index: 9999;
  pointer-events: auto;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.link-button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Karla', sans-serif; 
    color: black;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.link-button:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}